@charset "UTF-8";

/* 
ARCTIC LIME AUDIOVISUAL - COLOFON PAGE
© JORDY VEENSTRA 2022
*/

/* FONT FACES */

@font-face {
	font-family: ClearSansRegular;
	src:url("/fonts/CS-Reg.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansThin;
	src:url("/fonts/CS-Thin.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansMedium;
	src:url("/fonts/CS-Med.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: ClearSansBold;
	src:url("/fonts/CS-Bold.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: ClearSansLight;
	src:url("/fonts/CS-Light.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BasementGrotesque;
	src:url("/fonts/BG.otf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: LunchtypeCondensed;
	src:url("/fonts/LT-Cond.ttf");
	font-stretch: condensed;
	font-style: normal;
	font-weight: normal;
}

/* UNORGANIZED LISTS */
ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

/* HEADERBAR */
.Headerbar {
	display: flex;
	width: 100%;
	position: fixed;
	height: 120px;
	background-color: #31233c;
	z-index: 2;
}

.Arctic_Lime_Logo {
	display: block;
	width: 150px;
	height: 150px;
	position: fixed;
	left: 40px;
	top: 20px;
	z-index: 2;
}

.Arctic_Lime_Payoff {
	display: block;
	width: 250px;
	height: 85px;
	position: fixed;
	left: 200px;
	top: 18px;
	z-index: 2;
}

#Social_Media_Container {
	display: none;
}

.Social_Icons {
	display: none;

}

/*BACKGROUND VIDEO*/

#colofonvideo {
	width: 100% !important;
	height: 100% !important;
	z-index: -10;
	object-fit: cover;
	position: fixed;
	display: flex;
	object-position: center;
	object-fit:cover;
}

/*RETURN TO HOME*/

.HOME {
	color: #fafafa;
	top: 170px;
	left: 90%;
	display: flex;
	position: fixed;
}

h2 {
	font-family: BasementGrotesque;
	color: #fafafa;
	z-index: 4;
	font-size: 24px;
}

a :hover {
	color: #d0ff14;
	text-decoration: none;
}

/*COLOFON*/

.colofon {
position: fixed;
left: 20%;
top: 50%;
margin-right: -50%;
transform: translate(-50%, -50%);
overflow-y:scroll;
}

h3 {
    color: #fafafa;
    font-family: ClearSansMedium;
    text-align:left;
}

h4 {
    text-align: left;;
    color: #fafafa;
    font-family: ClearSansThin;
}



/* MEDIA QUERIES */


/*COMPUTERS LOWER THAN 1023 PX WIDE AND LANDSCAPE ORIENTATION*/

@media screen and (max-width: 1023px) and (max-height: 767px) and (orientation:landscape) {

    .Headerbar {
        display: none;
    }
    
    .Arctic_Lime_Logo {
        display:none;
    }
    
    .Arctic_Lime_Payoff {
        display:none;
    }
    
    #Social_Media_Container {
        display:none;
    }
    
    .Social_Icons {
        display: none;
    }
    
    .MainBody{
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    .sorry {
        position: fixed;
        display:flex;
        left: 50%;
        top: 55%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
    
    p {
        color: white;
        font-family: ClearSansRegular;
        font-size: 14px;
    }
    
    #colofonvideo {
        display: none;
    }
    
    h1 {
        display: none;
    }
    
    h2 {
        display: none;
    }
    
    h3 {
        display: none;
    }
    
    h4 {
        display: none;
    }
    
    h5 {
        display:none;
    }
    
    h6 {
        display: none;
    }
    
    .sorry2 {
        display: none;
    }
    
    }
    
    
    /*DESKTOP COMPUTERS, PROJECTORS AND TELEVISIONS*/
    
    /*1024x768*/
    
    @media screen and (min-width: 1024px) and (max-width: 1123px) and (min-height: 768px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 14%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 125px; /*25pxoff*/
            height: 125px; /*25pxoff*/
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 225px; /*25pxoff*/
            height: 85px;
            position: fixed;
            left: 16.5%;
            top: 2.4%;
            z-index: 2;
        }
    
    
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(75%);
			top: 10%;
			left: -3%;
		}

		.HOME {
			transform:scale(75%);
			width: 300px;
			left: 78%;
		}
    }
    
    
    /*IN BETWEEN AT 1124PX*/
    
    @media screen and (min-width:1124px) and (max-width:1199px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 14%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 125px; /*25pxoff*/
            height: 125px; /*25pxoff*/
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 225px; /*25pxoff*/
            height: 85px;
            position: fixed;
            left: 15%;
            top: 2.4%;
            z-index: 2;
        }
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(75%);
			top: 10%;
			left: -3%;
		}

		.HOME {
			transform:scale(75%);
			width: 300px;
			left: 82%;
		}
    }
    
    
    /*1200x800*/
    
    @media screen and (min-width: 1200px) and (max-width: 1299px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 14%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 125px; /*25pxoff*/
            height: 125px; /*25pxoff*/
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 225px; /*25pxoff*/
            height: 85px;
            position: fixed;
            left: 14%;
            top: 2.4%;
            z-index: 2;
        }
    
		.sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(75%);
			top: 10%;
			left: -3%;
		}

		.HOME {
			transform:scale(75%);
			width: 300px;
			left: 82%;
		}
    }
    
    
    /*1400x900*/
    
    @media screen and (min-width: 1300px) and (max-width: 1400px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 14%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 150px; 
            height: 150px;
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 250px; 
            height: 85px;
            position: fixed;
            left: 14%;
            top: 2.4%;
            z-index: 2;
        }
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(80%);
			top: 14.5%;
			left: -1%;
		}

		.HOME {
			transform:scale(75%);
			width: 300px;
			left: 82%;
		}
    
    }
    
    
    /*1600x900*/
    
    @media screen and (min-width: 1401px) and (max-width: 1600px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 14%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 150px; 
            height: 150px;
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 250px; 
            height: 85px;
            position: fixed;
            left: 13%;
            top: 2.4%;
            z-index: 2;
        }
    
		.sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(80%);
			top: 14.5%;
			left: -1%;
		}

		.HOME {
			transform:scale(75%);
			width: 300px;
			left: 84%;
		}
    }
    
    /*1920x1080*/
    
    /*between 1601 and 1800*/
    
    @media screen and (min-width: 1601px) and (max-width: 1800px) {
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 12.5%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 150px; 
            height: 150px;
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 250px; 
            height: 85px;
            position: fixed;
            left: 12%;
            top: 2.4%;
            z-index: 2;
        }
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(80%);
			top: 14.5%;
			left: -1%;
		}

		.HOME {
			transform:scale(75%);
			width: 300px;
			left: 84%;
		}
    }
    
    @media screen and (min-width: 1801px) and (max-width: 1920px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 12%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 150px; 
            height: 150px;
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 250px; 
            height: 85px;
            position: fixed;
            left: 11%;
            top: 2.4%;
            z-index: 2;
        }
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(100%);
			top: 20%;
			left: 3%;
		}

		.HOME {
			transform:scale(100%);
			width: 300px;
			left: 86%;
		}
    }
    
    /*inbetween 1921 to 2350px*/
    
    @media screen and (min-width: 1921px) and (max-width: 2349px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 11.5%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 150px; 
            height: 150px;
            position: fixed;
            left: 3%;
            top: 2.5%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 275px; 
            height: 85px;
            position: fixed;
            left: 10.5%;
            top: 2.2%;
            z-index: 2;
        }
    
           .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(100%);
			top: 25%;
			left: 3%;
		}

		.HOME {
			transform:scale(100%);
			width: 300px;
			left: 87%;
			margin-top: 1%
		}
    }
    
    /*2560x1440*/
    
    @media screen and (min-width: 2350px) and (max-width: 2560px) {
    
        .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 10.5%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 175px; 
            height: 175px;
            position: fixed;
            left: 3%;
            top: 2.2%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 300px; 
            height: 85px;
            position: fixed;
            left: 10.5%;
            top: 2.0%;
            z-index: 2;
        }
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(125%);
			top: 27.5%;
			left: 7%;
		}

		.HOME {
			transform:scale(100%);
			width: 300px;
			left: 90%;
			margin-top: 1%;
		}
    }
    
    @media screen and (min-width: 2561px) and (max-width: 3000px) {
    
         .Headerbar {
            display: flex;
            width: 100%;
            position: fixed;
            height: 10%;
            background-color: #31233c;
            z-index: 2;
        }
    
        .Arctic_Lime_Logo {
            display: block;
            width: 175px; 
            height: 175px;
            position: fixed;
            left: 3%;
            top: 2.2%;
            z-index: 2;
        }
    
        .Arctic_Lime_Payoff {
            display: block;
            width: 300px; 
            height: 85px;
            position: fixed;
            left:9.5%;
            top: 2.0%;
            z-index: 2;
        }
    
        .sorry {
            display: none;
        }
     
        .sorry2 {
            display: none;
        }

		.colofon {
			transform:scale(125%);
			top: 27.5%;
			left: 7%;
		}

		.HOME {
			transform:scale(100%);
			width: 300px;
			left: 90%;
			margin-top: 1%;
		}
    }
    
    
    /*BETWEEN 3001 AND 3550PX*/
    
    @media screen and (min-width: 3001px) and (max-width: 3550px) {
    
        .Headerbar {
           display: flex;
           width: 100%;
           position: fixed;
           height: 10%;
           background-color: #31233c;
           z-index: 2;
       }
    
       .Arctic_Lime_Logo {
           display: block;
           width: 175px; 
           height: 175px;
           position: fixed;
           left: 3%;
           top: 2.2%;
           z-index: 2;
       }
    
       .Arctic_Lime_Payoff {
           display: block;
           width: 300px; 
           height: 85px;
           position: fixed;
           left:8.5%;
           top: 2.0%;
           z-index: 2;
       }
    
	   .sorry {
		display: none;
	}
 
	.sorry2 {
		display: none;
	}

	.colofon {
		transform:scale(125%);
		top: 27.5%;
		left: 7%;
	}

	.HOME {
		transform:scale(100%);
		width: 300px;
		left: 90%;
		margin-top: 1%;
	}

    }
    
    /*BETWEEN 3551 AND 4096PX*/
    
    @media screen and (min-width: 3551px) and (max-width: 4096px) {
    
        .Headerbar {
           display: flex;
           width: 100%;
           position: fixed;
           height: 8.5%;
           background-color: #31233c;
           z-index: 2;
       }
    
       .Arctic_Lime_Logo {
           display: block;
           width: 175px; 
           height: 175px;
           position: fixed;
           left: 2%;
           top: 2.2%;
           z-index: 2;
       }
    
       .Arctic_Lime_Payoff {
           display: block;
           width: 300px; 
           height: 85px;
           position: fixed;
           left:6.8%;
           top: 2.1%;
           z-index: 2;
       }
    
       .sorry {
		display: none;
	}
 
	.sorry2 {
		display: none;
	}

	.colofon {
		transform:scale(125%);
		top: 31%;
		left: 7%;
	}

	.HOME {
		transform:scale(100%);
		width: 300px;
		left: 90%;
		margin-top: 2%;
	}
    }
    
    /*Between 4096 and 5000px*/
    
    @media screen and (min-width: 4097px) and (max-width: 5000px) {
    
        .Headerbar {
           display: flex;
           width: 100%;
           position: fixed;
           height: 8.5%;
           background-color: #31233c;
           z-index: 2;
       }
    
       .Arctic_Lime_Logo {
           display: block;
           width: 175px; 
           height: 175px;
           position: fixed;
           left: 2%;
           top: 2.2%;
           z-index: 2;
       }
    
       .Arctic_Lime_Payoff {
           display: block;
           width: 300px; 
           height: 85px;
           position: fixed;
           left:6.8%;
           top: 2.1%;
           z-index: 2;
       }
    
       .sorry {
		display: none;
	}
 
	.sorry2 {
		display: none;
	}

	.colofon {
		transform:scale(125%);
		top: 31%;
		left: 7%;
	}

	.HOME {
		transform:scale(100%);
		width: 300px;
		left: 90%;
		margin-top: 2%;
	}
    }
    
    /*computers between 5120 and 6017px - such as iMacs, high res windows monitors or mac pro's*/
    
    @media screen and (min-width: 5001px) and (max-width: 6017px) {
    
        .Headerbar {
           display: flex;
           width: 100%;
           position: fixed;
           height: 9%;
           background-color: #31233c;
           z-index: 2;
       }
    
       .Arctic_Lime_Logo {
           display: block;
           width: 250px; 
           height: 250x;
           position: fixed;
           left: 2%;
           top: 2.2%;
           z-index: 2;
       }
    
       .Arctic_Lime_Payoff {
           display: block;
           width: 450px; 
           height: 85px;
           position: fixed;
           left:7%;
           top: 2.1%;
           z-index: 2;
       }
    
       .sorry {
		display: none;
	}
 
	.sorry2 {
		display: none;
	}

	.colofon {
		transform:scale(150%);
		top: 35%;
		left: 9%;
	}

	.HOME {
		transform:scale(150%);
		width: 300px;
		left: 92%;
		margin-top: 3.5%;
	}
    }
    
    
    
    /*LANDSCAPE RESOLUTIONS
    RESOLUTIONS HIGHER THAN 6017PX (APPLE PRO XDR SCREEN) AND 5K PROJECTORS*/
    @media screen and (min-width: 6017px) and (min-width: 3385px) and (orientation:landscape) {
    
        .Headerbar {
            display: none;
        }
        
        .Arctic_Lime_Logo {
            display:none;
        }
        
        .Arctic_Lime_Payoff {
            display:none;
        }
        
        #Social_Media_Container {
            display:none;
        }
        
        .Social_Icons {
            display: none;
        }
        
        .MainBody{
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: black;
        }
        
        .sorry2 {
            position: fixed;
            display:flex;
            left: 50%;
            top: 55%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            text-align:center;
        }
        
        p {
            color: white;
            font-family: ClearSansRegular;
            font-size: 14px;
        }
        
        #colofonvideo {
            display: none;
        }
        
        h1 {
            display: none;
        }
        
        h2 {
            display: none;
        }
        
        h3 {
            display: none;
        }
        
        h4 {
            display: none;
        }
        
        h5 {
            display:none;
        }
        
        h6 {
            display: none;
        }
        
        .sorry {
            display: none;
        }

        }
    
        /* END OF LANDSCAPE MEDIA QUERIES FOR DESKTOPS*/
    
        
        /*PORTRAIT - REGULAR PHONES
        ONLY THE BAR, BACKGROUND, LOGO, AND TEXT. NO SOCIAL MEDIA. PUT ON CONTACT PAGE*/
        
        @media screen and (orientation: portrait) and (min-width:376px) {
            .sorry {
                display:none;
            }
    
            .sorry2 {
                display: none;
            }
    
            .Companyname {
                display: none;
            }
    
            .Arctic_Lime_Payoff {
                display: none;
            }
    
            .Arctic_Lime_Logo {
                display: block;
                width: 150px;
                height: 150px;
                left: 51%;
                transform:translate(-50%, -50%);
                top: 7%;
                margin-top:10%;
                align-content: center;
                align-items: center;
            }
    
            .Headerbar {
                height: 13%;
                display: flex;
            }

            .HOME {
                transform:scale(50%);
                width: 100%;
                left: -15%;
                top: 93%;
               
            }
            .colofon {
                transform:scale(40%);
                left: 1%;
                top: 4%;
                width: 100%;
            }
            
            h3 {
                text-align: center;
                align-content: center;
                align-items: center;
            }

            h4 {
                text-align: center;
                align-content: center;
                align-items: center;
            }
    
        }

        /*SMALLER IPHONES*/

        @media screen and (orientation: portrait) and (max-width:375px) {
            .sorry {
                display:none;
            }
    
            .sorry2 {
                display: none;
            }
    
            .Companyname {
                display: none;
            }
    
            .Arctic_Lime_Payoff {
                display: none;
            }
    
            .Arctic_Lime_Logo {
                display: block;
                width: 150px;
                height: 150px;
                left: 51%;
                transform:translate(-50%, -50%);
                top: 7%;
                margin-top:10%;
                align-content: center;
                align-items: center;
            }
    
            .Headerbar {
                height: 13%;
                display: flex;
            }

            .HOME {
                transform:scale(50%);
                width: 100%;
                left: -15%;
                top: 93%;
               
            }
            .colofon {
                transform:scale(40%);
                left: 1%;
                top: -8%;
                width: 100%;
            }
            
            h3 {
                text-align: center;
                align-content: center;
                align-items: center;
            }

            h4 {
                text-align: center;
                align-content: center;
                align-items: center;
            }
    
        }
        
        
        
        /* PORTRAIT - SMARTPHONES - BIG SCREENS */
    
        @media screen and (orientation: portrait) and (min-width:810px) and (min-height:1080px) {
    
            .sorry {
                display:none;
            }
    
            .sorry2 {
                display: none;
            }
    
            .Companyname {
                display: none;
            }
    
            .Arctic_Lime_Payoff {
                display: none;
            }
    
            .Arctic_Lime_Logo {
                display: block;
                width: 150px;
                height: 150px;
                left: 51%;
                transform:translate(-50%, -50%);
                top: 3%;
                margin-top:10%;
                align-content: center;
                align-items: center;
            }
    
            .Headerbar {
                height: 13%;
                display: flex;
            }

            .HOME {
                transform:scale(50%);
                width: 100%;
                left: -18%;
                top: 93%;
               
            }
            .colofon {
                transform:scale(75%);
                left: 1%;
                top: 18%;
                width: 100%;
            }
            
            h3 {
                text-align: center;
                align-content: center;
                align-items: center;
            }

            h4 {
                text-align: center;
                align-content: center;
                align-items: center;
            }
    
        }
    
    /*END OF CASCADE STYLING SHEET*/