@charset "UTF-8";

/* 
ARCTIC LIME AUDIOVISUAL - PRIVACY PAGE
© JORDY VEENSTRA 2022
*/

/* FONT FACES */
@font-face {
	font-family: ClearSansRegular;
	src:url("/fonts/CS-Reg.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansThin;
	src:url("/fonts/CS-Thin.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansMedium;
	src:url("/fonts/CS-Med.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: ClearSansBold;
	src:url("/fonts/CS-Bold.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: ClearSansLight;
	src:url("/fonts/CS-Light.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BasementGrotesque;
	src:url("/fonts/BG.otf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: LunchtypeCondensed;
	src:url("/fonts/LT-Cond.ttf");
	font-stretch: condensed;
	font-style: normal;
	font-weight: normal;
}

/* UNORGANIZED LISTS */
ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

/* HEADERBAR */
.Headerbar {
	display: flex;
	width: 100%;
	position: fixed;
	height: 120px;
	background-color: #31233c;
	z-index: 2;
}

.Arctic_Lime_Logo {
	display: block;
	width: 150px;
	height: 150px;
	position: fixed;
	left: 40px;
	top: 20px;
	z-index: 2;
}

.Arctic_Lime_Payoff {
	display: block;
	width: 250px;
	height: 85px;
	position: fixed;
	left: 200px;
	top: 18px;
	z-index: 2;
}

#Social_Media_Container {
	display: flex;
	width: 750px;
	height: 100px;
	position: fixed;
	margin-left: 1750px;
	margin-top: 10px;
	z-index: 5;
}

.Social_Icons {
	display: flex;
	margin-top: 17px;
	margin-left: 130px;
	align-items: center;
	gap: 2.8rem;

}
/*MAIN CONTENT CONTAINER*/

.MainBody-Privacy {
	position: fixed;
	width: 100%;
	height: 100%;
}

#Privacy-video {
	display: flex;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -4;
	object-fit: cover;	
}

/* DOWNLOAD/RETURN BUTTONS*/

.Download-or-return {
    display: flex;
    flex-direction: row;
    position: fixed;
    gap: 2em;
    left:201px;
    top: 1098px;
}

h2 {
    font-family: BasementGrotesque;
    font-size: 25px;
    color: #fafafa;
    display: flex;

}

a :hover {
    color: #ba1a50;
}

/* TEXT HEADER PLUS BODY */

h1 {
    font-family: ClearSansBold;
    z-index: 5;
    display: flex;
    font-size: 60px;

}

.Privacy-Header {
    display: flex;
    top: 700px;
    position: fixed;
    left: 1420px;
    color: #fafafa;
    flex-direction: row;
}

p {
    font-family: ClearSansRegular;
    z-index: 5;
    font-size: 30px;
    display: block;
}

.Privacy-Text {
    position: fixed;
    top: 800px;
    left: 1420px;
    color: #fafafa;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*END OF REGULAR CASCADE STYLING SHEET*/

/* MEDIA QUERIES DESKTOP */

/*LOWER THAN 1024X768 LANDSCAPE COMPUTERS*/

@media screen and (max-width: 1023px) and (orientation: landscape) {

    .Headerbar {
        display: none;
    }

    .Arctic_Lime_Logo {
        display: none;
    }

    .Arctic_Lime_Payoff {
        display: none;
    }

    #Social_Media_Container {
        display: none;
    }

    .Social_Icons {
        display: none;
    }

    #Privacy-video {
        display: none;
    }

    .Download-or-return {
        display: none;
    }

    .Privacy-Header {
        display: none;
    }

    .Privacy-Text {
        display: none;
    }

    h1 {
        display: none;
    }

    h2 {
        display: none;
    }

    h3 {
        display: none;
    }

    h4 {
        display: none;
    }

    h5 {
        display: none;
    }

    h6 {
        display: none;
    }

    .sorry2 {
        display: none;
    }

    .MainBody-Privacy {
        background-color: black;
        width: 100%;
        height: 100%;
    } 

    .sorry {
        position: fixed;
		display:flex;
		left: 50%;
		top: 55%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align:center;
    }

    p {
        color: white;
        font-family: ClearSansRegular;
        font-size: 14px;
        line-height: 20px;
    }
}

/*1024X768*/

@media screen and (min-width:1024px) and (orientation: landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px; /*25pxoff*/
		height: 125px; /*25pxoff*/
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 225px; /*25pxoff*/
		height: 85px;
		position: fixed;
		left: 16.5%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 55%;
        top: 60%;
    }

    h1 {
        font-size: 36px;
    }

    .Privacy-Text {
        left: 55%; 
        top: 67%;
        width: 400px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    .Download-or-return {
        left: 5%;
        top: 86%;
    }

    h2 {
        font-size: 14px;
    }
}

/*IN BETWEEN AT 1124PX*/

@media screen and (min-width: 1124px) and (max-width: 1199px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px; /*25pxoff*/
		height: 125px; /*25pxoff*/
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 225px; /*25pxoff*/
		height: 85px;
		position: fixed;
		left: 15%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}
    #Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 60%;
        top: 60%;
    }

    h1 {
        font-size: 36px;
    }

    .Privacy-Text {
        left: 60%; 
        top: 67%;
        width: 400px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    .Download-or-return {
        left: 5%;
        top: 86%;
    }

    h2 {
        font-size: 14px;
    }
}

/*1200x800*/

@media screen and (min-width:1200px) and (max-width: 1299px) and (orientation:landscape) {

    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px; /*25pxoff*/
		height: 125px; /*25pxoff*/
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 225px; /*25pxoff*/
		height: 85px;
		position: fixed;
		left: 14%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 60%;
        top: 60%;
    }

    h1 {
        font-size: 36px;
    }

    .Privacy-Text {
        left: 60%; 
        top: 67%;
        width: 400px;
    }

    p {
        font-size: 12px;
        line-height: 18px;
    }

    .Download-or-return {
        left: 5%;
        top: 86%;
    }

    h2 {
        font-size: 14px;
    }
}

/*1366x768 and 1400x900*/

@media screen and (min-width:1300px) and (max-width: 1400px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 14%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 60%;
        top: 62%;
    }

    h1 {
        font-size: 38px;
    }

    .Privacy-Text {
        left: 60%; 
        top: 69%;
        width: 500px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 14px;
    }
}

/*1600x900*/

@media screen and (min-width: 1401px) and (max-width: 1600px) and (orientation: landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 3.3%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 13%;
		top: 3.0%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 63%;
        top: 62%;
    }

    h1 {
        font-size: 38px;
    }

    .Privacy-Text {
        left: 63%; 
        top: 69%;
        width: 500px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 16px;
    }
}

/*between 1601 and 1800px*/

@media screen and (min-width:1601px) and (max-width: 1800px) and (orientation: landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 12.5%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 12%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 65%;
        top: 62%;
    }

    h1 {
        font-size: 38px;
    }

    .Privacy-Text {
        left: 65%; 
        top: 69%;
        width: 500px;
    }

    p {
        font-size: 14px;
        line-height: 22px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 16px;
    }
}

/*FULL HD*/

@media screen and (min-width:1801px) and (max-width:1920px) and (orientation: landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 12%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 11%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 65%;
        top: 67%;
    }

    h1 {
        font-size: 40px;
    }

    .Privacy-Text {
        left: 65%; 
        top: 73%;
        width: 600px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 18px;
    }
}

/* In between 1921 - 2350px */

@media screen and (min-width: 1921px) and (max-width: 2349px) and (orientation: landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 11.5%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 275px; 
		height: 85px;
		position: fixed;
		left: 10.5%;
		top: 2.2%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 65%;
        top: 67%;
    }

    h1 {
        font-size: 40px;
    }

    .Privacy-Text {
        left: 65%; 
        top: 73%;
        width: 600px;
    }

    p {
        font-size: 16px;
        line-height: 24px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 18px;
    }
}

/*2560x1440*/

@media screen and (min-width:2350px) and (max-width: 2560px) and (orientation: landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 10.5%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 3%;
		top: 2.2%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left: 10.5%;
		top: 2.0%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 70%;
        top: 69%;
    }

    h1 {
        font-size: 42px;
    }

    .Privacy-Text {
        left: 70%; 
        top: 74%;
        width: 650px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 20px;
    }
}

/*Between 2561 and 3000px*/

@media screen and (min-width:2561px) and (max-width:3000px) and (orientation: landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 10%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 3%;
		top: 2.2%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:9.5%;
		top: 2.0%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 72%;
        top: 69%;
    }

    h1 {
        font-size: 42px;
    }

    .Privacy-Text {
        left: 72%; 
        top: 74%;
        width: 650px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 20px;
    }
}

/*Between 3001 and 3550px*/

@media screen and (min-width:3001px) and (max-width:3550px) and (orientation:landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 10%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 3%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:8.5%;
		top: 2.0%;
		z-index: 2;
	}

		.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 75%;
        top: 69%;
    }

    h1 {
        font-size: 42px;
    }

    .Privacy-Text {
        left: 75%; 
        top: 74%;
        width: 650px;
    }

    p {
        font-size: 18px;
        line-height: 26px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 20px;
    }
}

/*Between 3551px and 4096px*/

@media screen and (min-width:3551px) and (max-width:4096px) and (orientation:landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 8.5%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:6.8%;
		top: 2.1%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 75%;
        top: 73%;
    }

    h1 {
        font-size: 46px;
    }

    .Privacy-Text {
        left: 75%; 
        top: 77%;
        width: 700px;
    }

    p {
        font-size: 22px;
        line-height: 32px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 24px;
    }
}

/*Between 4096 and 5000px*/

@media screen and (min-width:4097px) and (max-width:5000px) and (orientation:landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 8.5%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:6.0%;
		top: 2.1%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 78%;
        top: 73%;
    }

    h1 {
        font-size: 46px;
    }

    .Privacy-Text {
        left: 78%; 
        top: 77%;
        width: 700px;
    }

    p {
        font-size: 22px;
        line-height: 32px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 24px;
    }
}

/*Between 5120 and 6017px*/

@media screen and (min-width:5001px) and (max-width: 6016px) and (orientation:landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 9%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 250px; 
		height: 250x;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 450px; 
		height: 85px;
		position: fixed;
		left:7%;
		top: 2.1%;
		z-index: 2;
	}

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        left: 75%;
        top: 74%;
    }

    h1 {
        font-size: 52px;
    }

    .Privacy-Text {
        left: 75%; 
        top: 77%;
        width: 900px;
    }


    p {
        font-size: 28px;
        line-height: 42px;
    }

    .Download-or-return {
        left: 5%;
        top: 88.5%;
    }

    h2 {
        font-size: 30px;
    }

}

/*LANDSCAPE SCREENS LARGER THAN APPLE PRO XDR*/

@media screen and (min-width:6017px) and (orientation:landscape) {
	.Headerbar {
		display: none;
	}
 
	.Arctic_Lime_Logo {
		display: none;
	}
 
	.Arctic_Lime_Payoff {
		display: none;
	}

	#Privacy-video {
        display: none;
    }

	#Social_Media_Container {
        display: none;
    }

    .Privacy-Header {
        display: none;
    }

    h1 {
        display: none;
    }

    .Privacy-Text {
        display: none;
    }

    p {
        color: white;
		font-family: ClearSansRegular;
		font-size: 14px;
		line-height: 20px;
    }

    .Download-or-return {
        display: none;
    }

    h2 {
        display: none;
    }

	h3 {
		display: none;
	}

	h4 {
		display: none;
	}

	h5 {
		display: none;
	}

	h6 {
		display: none;
	}

	.sorry {
		display: none;
	}

	.sorry2{
		position: fixed;
		display:flex;
		left: 50%;
		top: 55%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align:center;
	}

	.MainBody-Privacy {
        background-color: black;
        width: 100%;
        height: 100%;
    } 
}

/*END OF DESKTOP QUERIES*/

/*SMARTPHONE AND TABLET QUERIES*/

/*STANDARD PHONES*/

@media screen and (orientation: portrait) and (max-width:809px) and (max-height:1079px) {

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	.Arctic_Lime_Payoff {
		display: none;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px;
		height: 150px;
		left: 51%;
		transform:translate(-50%, -50%);
		top: 7%;
		margin-top:10%;
		align-content: center;
		align-items: center;
	}

	.Headerbar {
	height: 13%;
	display: flex;
	}

	.Privacy-Header {
        left: 15%;
        top: 59%;
    }

    h1 {
        font-size: 22px;
    }

    .Privacy-Text {
        left: 15%; 
        top: 63%;
        width: 80%;
    }


    p {
        font-size: 10px;
        line-height: 16px;
    }

    .Download-or-return {
        left: 15%;
        top: 85%;
		
    }

    h2 {
        font-size: 12px;
	
    }
}

/*Max-width 450px - smaller phones iPhone SE and so on*/

@media screen and (orientation: portrait) and (max-width:450px) {
	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	.Arctic_Lime_Payoff {
		display: none;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px;
		height: 150px;
		left: 51%;
		transform:translate(-50%, -50%);
		top: 7%;
		margin-top:10%;
		align-content: center;
		align-items: center;
	}

	.Headerbar {
	height: 13%;
	display: flex;
	}

	.Privacy-Header {
        left: 15%;
        top: 59%;
    }

    h1 {
        font-size: 22px;
    }

    .Privacy-Text {
        left: 15%; 
        top: 64%;
        width: 80%;
    }


    p {
        font-size: 8px;
        line-height: 12px;
    }

    .Download-or-return {
        left: 15%;
        top: 85%;
		
    }

    h2 {
        font-size: 12px;
	
    }
}

/*Tablets*/

@media screen and (orientation:portrait) and (min-width:810px) and (min-height: 1080px) {
	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	.Arctic_Lime_Payoff {
		display: none;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px;
		height: 150px;
		left: 51%;
		transform:translate(-50%, -50%);
		top: 3%;
		margin-top:10%;
		align-content: center;
		align-items: center;
	}

	.Headerbar {
	height: 13%;
	display: flex;
	}

	.Privacy-Header {
        left: 15%;
        top: 63%;
    }

    h1 {
        font-size: 26px;
    }

    .Privacy-Text {
        left: 15%; 
        top: 67%;
        width: 80%;
    }


    p {
        font-size: 14px;
        line-height: 20px;
    }

    .Download-or-return {
        left: 15%;
        top: 90%;
		
    }

    h2 {
        font-size: 16px;
	
    }
}

/*END OF CASCADE STYLING SHEET*/