@charset "UTF-8";

/* 
ARCTIC LIME AUDIOVISUAL - PROJECT PAGE CSS
© JORDY VEENSTRA 2022
*/

/* FONT FACES */
@font-face {
	font-family: ClearSansRegular;
	src:url("/fonts/CS-Reg.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansThin;
	src:url("/fonts/CS-Thin.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansMedium;
	src:url("/fonts/CS-Med.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: ClearSansBold;
	src:url("/fonts/CS-Bold.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: ClearSansLight;
	src:url("/fonts/CS-Light.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BasementGrotesque;
	src:url("/fonts/BG.otf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: LunchtypeCondensed;
	src:url("/fonts/LT-Cond.ttf");
	font-stretch: condensed;
	font-style: normal;
	font-weight: normal;
}

/* UNORGANIZED LISTS */
ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

/* HEADERBAR */
.Headerbar {
	display: flex;
	width: 100%;
	position: fixed;
	height: 120px;
	background-color: #31233c;
	z-index: 2;
}

.Arctic_Lime_Logo {
	display: block;
	width: 150px;
	height: 150px;
	position: fixed;
	left: 40px;
	top: 20px;
	z-index: 2;
}

.Arctic_Lime_Payoff {
	display: block;
	width: 250px;
	height: 85px;
	position: fixed;
	left: 200px;
	top: 18px;
	z-index: 2;
}

#Social_Media_Container {
	display: flex;
	width: 750px;
	height: 100px;
	position: fixed;
	margin-left: 1750px;
	margin-top: 10px;
	z-index: 5;
}

.Social_Icons {
	display: flex;
	margin-top: 17px;
	margin-left: 130px;
	align-items: center;
	gap: 2.8rem;
}

/*PROJECT GRID*/

.project-grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
	overflow: hidden;

}

.projectinfo {
    flex: 1;
    background-color: #31233c;
    height: 100%;
    width: 20%;
    position: fixed;   
}

.projectinfo2 {
	flex: 1;
	position: fixed;
	top: 90%;
	display: flex;
	flex-direction: column;
	left: 89%;
}

h1 {
	font-family: basementGrotesque;
	color: #d0ff14;
	position: relative;
	top: 75%;
	left: 12%;
	text-align: right;
}

#BG-Video {
	width: 100%;
	height: 100%;
	z-index: -10;
	object-fit: cover;
	display: flex;
	position: fixed;
}

.previous-project {
    flex: 1;
	position: fixed;
	top: 87%;
	left: 2%;
}

h3 {
	font-family: ClearSansThin;
	color: #fafafa;
	text-decoration-style: none;
	text-transform: uppercase;
	position: relative;
}

h2 {
	font-family: ClearSansThin;
	position: relative;
	color: #fafafa;
	text-align: right;
	left: 2%;
	top: 50%;
}
a :hover {
	color: #ba1a50;
}
.next-project {
    flex: 1;
	position: fixed;
	top: 90%;
	left: 2%;
}

.home {
	flex: 1;
	position: fixed;
	top: 93%;
	left: 2%;
}

.projectdescription {
	width: 15%;
	position: fixed;
	z-index: 5;
	flex: 1;
	justify-items: center;
	align-items: center;
	align-content: center;
	margin-left: 0,5%;
}

p {
	font-family: ClearSansRegular;
	color: #fafafa;
	top: 19%;
	position: fixed;
	text-align: justify;
	text-justify: inter-word;
	vertical-align: middle;
	margin-left: 2%;
	width: 15.5%;
	letter-spacing: 2px;

}

.sorry {
	display: none;
}

.sorry2{
	display: none;
}

/*Media queries for landscape machines*/

/*TV's, desktops monitors, etc*/

/*Lower than 1023x768*/

@media screen and (max-width:1023px) and (orientation:landscape) {
	.Headerbar {
        display: none;
    }
 
    .Arctic_Lime_Logo {
        display: none;
    }
 
    .Arctic_Lime_Payoff {
        display: none;
    }
 
    .Social_Icons {
        display: none;
    }
 
    #Social_Media_Container {
        display: none;
    }
 
    body {
        background-color:black;
    }
 
    .project-grid {
        display: none;
    }
 
    h1 {
        display: none;
    }
 
    h2 {
        display: none;
    }
 
    h3 {
        display: none;
    }
 
    h4 /*SORRY TEXT IS H4 INSTEAD OF P*/ {
        color: white !important;
        font-family: ClearSansRegular !important;
        font-size: 14px !important;
        line-height: 20px !important;
		text-align: center !important;
    }
 
    h5 {
        display: none;
    }
 
    h6 {
        display: none;
    }
 
    p {
       display:none;
    }
 
    .sorry {
        position: fixed;
        display:flex;
        left: 50%;
        top: 55%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
 
    .sorry2 {
        display: none;
    }
 
}
 
/*1024x768*/
 
@media screen and (min-width:1024px) and (orientation:landscape) {
    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 14%;
        background-color: #31233c;
        z-index: 2;
    }
 
    .Arctic_Lime_Logo {
        display: block;
        width: 125px; /*25pxoff*/
        height: 125px; /*25pxoff*/
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }
 
    .Arctic_Lime_Payoff {
        display: block;
        width: 225px; /*25pxoff*/
        height: 85px;
        position: fixed;
        left: 16.5%;
        top: 2.4%;
        z-index: 2;
    }
 
    .sorry {
        display: none;
    }
 
    .sorry2 {
        display: none;
    }
 
    #Social_Media_Container {
        display: none;
    }
 
    .projectinfo2 {
        left:87%;
        top:90%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 28px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:14px;
    }
 
    p {
        font-size:7.5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
 
    }
}
/*In between: 1124px*/

@media screen and (min-width:1124px) and (max-width:1199px) and (orientation:landscape) {
	.Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px; /*25pxoff*/
		height: 125px; /*25pxoff*/
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 225px; /*25pxoff*/
		height: 85px;
		position: fixed;
		left: 15%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}
    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:87%;
        top:90%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 28px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:14px;
    }
 
    p {
        font-size:8px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
 
    }

}

/*1200x800*/

@media screen and (min-width:1200px) and (max-width:1299px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px; /*25pxoff*/
		height: 125px; /*25pxoff*/
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 225px; /*25pxoff*/
		height: 85px;
		position: fixed;
		left: 14%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:88.5%;
        top:90%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 28px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:14px;
    }
 
    p {
        font-size:8.5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
 
    }
}

/*1366x768 / 1400x900*/

@media screen and (min-width:1300px) and (max-width:1400px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 14%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:89%;
        top:90%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 28px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:14px;
    }
 
    p {
        font-size:8.8px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 21%;
 
    }
}

/*1600x900*/

@media screen and (min-width:1401px) and (max-width:1600px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 14%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 3.3%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 13%;
		top: 3.0%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:90%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 32px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:14px;
    }
 
    p {
        font-size:9.5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 21%;
 
    }
}

/*Between 1601 and 1800px*/

@media screen and (min-width:1601px) and (max-width:1800px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 12.5%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 12%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:90%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 32px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:14px;
    }
 
    p {
        font-size:10.5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 21%;
 
    }
}

/*Full HD*/

@media screen and (min-width:1801px) and (max-width:1920px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 12%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 250px; 
		height: 85px;
		position: fixed;
		left: 11%;
		top: 2.4%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 38px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:18px;
    }
 
    h3 {
        font-size:18px;
    }
 
    p {
        font-size:12px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 19%;
 
    }
}

/*In between 1921 and 2350px*/

@media screen and (min-width:1921px) and (max-width:2349px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 11.5%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 150px; 
		height: 150px;
		position: fixed;
		left: 3%;
		top: 2.5%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 275px; 
		height: 85px;
		position: fixed;
		left: 10.5%;
		top: 2.2%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:89%;
    }
 
    .next-project {
        top:92%;
    }
 
    .home {
        top:95%;
    }
 
    h1 {
        font-size: 38px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:18px;
    }
 
    h3 {
        font-size:18px;
    }
 
    p {
        font-size:12.5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 19%;
 
    }
}

/*2560x1440*/
@media screen and (min-width:2350px) and (max-width:2560px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 10.5%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 3%;
		top: 2.2%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left: 10.5%;
		top: 2.0%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 46px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:24px;
    }
 
    h3 {
        font-size:24px;
    }
 
    p {
        font-size:16px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 19%;
 
    }
}

/*Between 2561px and 3000px*/

@media screen and (min-width:2561px) and (max-width:3000px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 10%;
		background-color: #31233c;
		z-index: 2;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 3%;
		top: 2.2%;
		z-index: 2;
	}

	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:10%;
		top: 2.0%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 46px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:24px;
    }
 
    h3 {
        font-size:24px;
    }
 
    p {
        font-size:16px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 19%;
 
    }

}

/*Between 3001 and 3550px*/

@media screen and (min-width:3001px) and (max-width:3550px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 10%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 3%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:8.5%;
		top: 2.0%;
		z-index: 2;
	}

	.sorry {
	display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 60px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:28px;
    }
 
    h3 {
        font-size:28px;
    }
 
    p {
        font-size:20px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 19%;
 
    }
}

/*Between 3551px and 4096px*/

@media screen and (min-width:3551px) and (max-width:4096px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 8.5%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:6.8%;
		top: 2.1%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 70px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:38px;
    }
 
    h3 {
        font-size:38px;
    }
 
    p {
        font-size:20px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 17%;
 
    }
}

/*Between 4096 and 5000px*/

@media screen and (min-width:4097px) and (max-width:5000px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 8.5%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 175px; 
		height: 175px;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 300px; 
		height: 85px;
		position: fixed;
		left:6.0%;
		top: 2.1%;
		z-index: 2;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 70px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:38px;
    }
 
    h3 {
        font-size:38px;
    }
 
    p {
        font-size:20px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 17%;
 
    }
}

/*Between 5001 oa 5120x2880 and 5500px*/

@media screen and (min-width:5001px) and (max-width:5500px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 9%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 250px; 
		height: 250x;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 450px; 
		height: 85px;
		position: fixed;
		left:7%;
		top: 2.1%;
		z-index: 2;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 85px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:46px;
    }
 
    h3 {
        font-size:46px;
    }
 
    p {
        font-size:20px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 17%;
    }
}

/*Until 6017px - apple pro xdr*/

@media screen and (min-width:5501px) and (max-width:6016px) and (orientation:landscape) {
    .Headerbar {
		display: flex;
		width: 100%;
		position: fixed;
		height: 9%;
		background-color: #31233c;
		z-index: 2;
	}
 
	.Arctic_Lime_Logo {
		display: block;
		width: 250px; 
		height: 250x;
		position: fixed;
		left: 2%;
		top: 2.2%;
		z-index: 2;
	}
 
	.Arctic_Lime_Payoff {
		display: block;
		width: 450px; 
		height: 85px;
		position: fixed;
		left:7%;
		top: 2.1%;
		z-index: 2;
	}

	#Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:91%;
        top:91%;
    }
 
    .previous-project {
        top:87%;
    }
 
    .next-project {
        top:90%;
    }
 
    .home {
        top:93%;
    }
 
    h1 {
        font-size: 115px;
        left:20%;
        top:76%;
    }
 
    h2 {
        font-size:52px;
    }
 
    h3 {
        font-size:52px;
    }
 
    p {
        font-size:30px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 2%;
        width: 15.5%;
        letter-spacing: 0.5px;
        top: 17%;
    }
}

/*Larger*/

@media screen and (min-width:6017px) and (orientation:landscape) {
    body {
        background-color:black;
    }

    .Headerbar {
        display: none;
    }

    .Arctic_Lime_Logo {
        display: none;
    }

    .Arctic_Lime_Payoff {
        display: none;
    }

    h1 {
        display: none;
    }

    h2 {
        display: none;
    }

    h3 {
        display: none;
    }

    h4 {
        color: white !important;
        font-family: ClearSansRegular !important;
        font-size: 14px !important;
        line-height: 20px !important;
		text-align: center !important;
    }

    .project-grid {
        display: none;
    }

    h5 {
        display: none;
    }

    h6 {
        display: none;
    }

    .sorry {
        display: none;
    }

    .Social_Icons {
        display: none;
    }

    #Social_Media_Container {
        display: none;
    }

    #BG-Video {
        display: none;
    }

    .sorry2 {
        position: fixed;
        display:flex;
        left: 50%;
        top: 55%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
}

/*END OF DESKTOP MEDIA QUERIES*/

/*START of smartphone/tablet queries*/

@media screen and (orientation:portrait) and (max-width:809px) {
    .sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	.Arctic_Lime_Payoff {
		display: none;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px;
		height: 125px;
		left: 51%;
		transform:translate(-50%, -50%);
		top: 5%;
		margin-top:10%;
		align-content: center;
		align-items: center;
	}

	.Headerbar {
	height: 13%;
	display: flex;
	}

	.Social_Icons {
        display: none;
    }

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:74%;
        top:39%;
    }
 
    .previous-project {
        top:90.5%;
        left:5%;
        width:250px;
    }
 
    .next-project {
        top:92.5%;
        left:5%;
        width:250px
    }
 
    .home {
        top:94.5%;
        left:5%;
        width:250px
    }
 
    h1 {
        font-size: 24px;
        left:-5%;
        top:88%;
    }
 
    h2 {
        font-size:12px;
    }
 
    h3 {
        font-size:12px;
    }
 
    p {
        font-size:5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 5%;
        width: 90%;
        letter-spacing: 0.5px;
        top: 19.5%;
    }

    .projectinfo {
        flex: 1;
        background-color: #31233c;
        width: 100%;
        height: 20%;
        position: fixed;   
        top:13%;
    }
}
/*Max width 450px - Smaller iphones and so on*/

@media screen and (orientation:portrait) and (max-width:389px) and (orientation:portrait) {
    sorry {
        display: none;
    }

    .sorry2 {
        display: none;
    }

    .Arctic_Lime_Payoff {
        display: none;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 125px;
        height: 125px;
        left: 51%;
        transform:translate(-50%, -50%);
        top: 5%;
        top: 7%;
        margin-top:10%;
        align-content: center;
        align-items: center;
    }

    .Headerbar {
    height: 13%;
    display: flex;
    }

    .Social_Icons {
        display: none;
    }

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:72.5%;
        top:47%;
    }
 
    .previous-project {
        top:87.5%;
        left:5%;
        width:250px;
    }
 
    .next-project {
        top:91.5%;
        left:5%;
        width:250px
    }
 
    .home {
        top:95.5%;
        left:5%;
        width:250px
    }
 
    h1 {
        font-size: 24px;
        left:-5%;
        top:88%;
    }
 
    h2 {
        font-size:12px;
    }
 
    h3 {
        font-size:12px;
    }
 
    p {
        font-size:5px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 5%;
        width: 90%;
        letter-spacing: 0.5px;
        top: 23%;
    }

    .projectinfo {
        flex: 1;
        background-color: #31233c;
        width: 100%;
        height: 27%;
        position: fixed;   
     
}
}

/*Tablets*/

@media screen and (orientation:portrait) and (min-width:810px) {
    .sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

	.Arctic_Lime_Payoff {
		display: none;
	}

	.Arctic_Lime_Logo {
		display: block;
		width: 125px;
		height: 125px;
		left: 51%;
		transform:translate(-50%, -50%);
		top: 5%;
		margin-top:10%;
		align-content: center;
		align-items: center;
	}

	.Headerbar {
	height: 13%;
	display: flex;
	}

	.Social_Icons {
        display: none;
    }

    #Social_Media_Container {
        display: none;
    }

    .projectinfo2 {
        left:83%;
        top:39%;
    }
 
    .previous-project {
        top:87%;
        left:5%;
        width:250px;
    }
 
    .next-project {
        top:90%;
        left:5%;
        width:250px;
    }
 
    .home {
        top:93%;
        left:5%;
        width:250px
    }
 
    h1 {
        font-size: 28px;
        left:-5%;
        top:94%;
    }
 
    h2 {
        font-size:14px;
    }
 
    h3 {
        font-size:16px;
    }
 
    p {
        font-size:9px;
        text-align: justify;
        text-justify: inter-word;
        vertical-align: middle;
        margin-left: 5%;
        width: 90%;
        letter-spacing: 0.5px;
        top: 19%;
    }

    .projectinfo {
        flex: 1;
        background-color: #31233c;
        width: 100%;
        height: 20%;
        position: fixed;   
        top:13%;
    }
}

/*END OF CASCADE STYLING SHEET!*/