@charset "UTF-8";

/* 
ARCTIC LIME AUDIOVISUAL - NEWS PAGE
© JORDY VEENSTRA 2022
*/

/* FONT FACES */
@font-face {
	font-family: ClearSansRegular;
	src:url("/fonts/CS-Reg.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansThin;
	src:url("/fonts/CS-Thin.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;	
}

@font-face {
	font-family: ClearSansMedium;
	src:url("/fonts/CS-Med.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: ClearSansBold;
	src:url("/fonts/CS-Bold.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: ClearSansLight;
	src:url("/fonts/CS-Light.ttf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: BasementGrotesque;
	src:url("/fonts/BG.otf");
	font-stretch: normal;
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: LunchtypeCondensed;
	src:url("/fonts/LT-Cond.ttf");
	font-stretch: condensed;
	font-style: normal;
	font-weight: normal;
}

/* UNORGANIZED LISTS */
ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

/* HEADERBAR */
.Headerbar {
	display: flex;
	width: 100%;
	position: fixed;
	height: 120px;
	background-color: #31233c;
	z-index: 2;
}

.Arctic_Lime_Logo {
	display: block;
	width: 150px;
	height: 150px;
	position: fixed;
	left: 40px;
	top: 20px;
	z-index: 2;
}

.Arctic_Lime_Payoff {
	display: block;
	width: 250px;
	height: 85px;
	position: fixed;
	left: 200px;
	top: 18px;
	z-index: 2;
}

#Social_Media_Container {
	display: NONE;
}

.sorry {
	display: none;
}

.sorry2 {
	display: none;
}

.Social_Icons {
	display: none;

}

.BLOG {
	width: 100%;
	height: 100%;
	margin-top: 100px;
	display: flex;
	position: fixed;
	z-index: -4;
	overflow-x: hidden;
	overflow-y: auto;
	justify-content: center;
	align-content: center;
	
}

.HOME {
	color: #fafafa;
	top: 4%;
	left: 85%;
	display: flex;
	position: fixed;
	z-index:99;
	width: 300px;
	align-content: left;
	align-items:left;
	
}

h2 {
	font-family: BasementGrotesque;
	color: #fafafa;
	z-index: 4;
	font-size: 14px;
}

a :hover {
	color: #d0ff14;
	text-decoration: none;
}

/*MEDIA QUERIES*/

/*DESKTOPS LANDSCAPE LOWER THAN 1023PX WIDE*/

@media screen and (max-width: 1023px) and (orientation:landscape) {

	.Headerbar {
		display:none;
	}

	.Arctic_Lime_Logo {
		display: none;
	}

	.Arctic_Lime_Payoff {
		display: none;
	}

	.BLOG {
		display:none;
	}

	.HOME {
		display:none;
	}

	h2 {
		display: none;
	}

	.MainBody{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: black;
	}
	
	.sorry {
		position: fixed;
		display:flex;
		left: 50%;
		top: 55%;
		margin-right: -50%;
		transform: translate(-50%, -50%);
		text-align:center;
	}
	
	p {
		color: white;
		font-family: ClearSansRegular;
		font-size: 14px;
	}
}

	

/*DESKTOP COMPUTERS, PROJECTORS AND TELEVISIONS*/

/*1024x768*/

@media screen and (min-width: 1024px) and (max-width: 1123px) and (min-height: 768px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 14%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 125px; /*25pxoff*/
        height: 125px; /*25pxoff*/
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 225px; /*25pxoff*/
        height: 85px;
        position: fixed;
        left: 16.5%;
        top: 2.4%;
        z-index: 2;
    }

	.sorry {
		display: none;

    }

	.sorry2 {
		display: none;
	}

}


/*IN BETWEEN AT 1124PX*/

@media screen and (min-width:1124px) and (max-width:1199px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 14%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 125px; /*25pxoff*/
        height: 125px; /*25pxoff*/
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 225px; /*25pxoff*/
        height: 85px;
        position: fixed;
        left: 15%;
        top: 2.4%;
        z-index: 2;
    }

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}
   }


/*1200x800*/

@media screen and (min-width: 1200px) and (max-width: 1299px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 14%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 125px; /*25pxoff*/
        height: 125px; /*25pxoff*/
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 225px; /*25pxoff*/
        height: 85px;
        position: fixed;
        left: 14%;
        top: 2.4%;
        z-index: 2;
    }

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}
      }


/*1400x900*/

@media screen and (min-width: 1300px) and (max-width: 1400px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 14%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 150px; 
        height: 150px;
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 250px; 
        height: 85px;
        position: fixed;
        left: 14%;
        top: 2.4%;
        z-index: 2;
    }

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}


 }


/*1600x900*/

@media screen and (min-width: 1401px) and (max-width: 1600px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 14%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 150px; 
        height: 150px;
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 250px; 
        height: 85px;
        position: fixed;
        left: 13%;
        top: 2.4%;
        z-index: 2;
    }

	.HOME {
		left: 90%;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

   }

/*1920x1080*/

/*between 1601 and 1800*/

@media screen and (min-width: 1601px) and (max-width: 1800px) {
    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 12.5%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 150px; 
        height: 150px;
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 250px; 
        height: 85px;
        position: fixed;
        left: 12%;
        top: 2.4%;
        z-index: 2;
    }

	.HOME {
		left: 90%;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

  }

@media screen and (min-width: 1801px) and (max-width: 1920px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 12%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 150px; 
        height: 150px;
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 250px; 
        height: 85px;
        position: fixed;
        left: 11%;
        top: 2.4%;
        z-index: 2;
    }

	.HOME {
		left: 90%;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    }

/*inbetween 1921 to 2350px*/

@media screen and (min-width: 1921px) and (max-width: 2349px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 11.5%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 150px; 
        height: 150px;
        position: fixed;
        left: 3%;
        top: 2.5%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 275px; 
        height: 85px;
        position: fixed;
        left: 10.5%;
        top: 2.2%;
        z-index: 2;
    }

	.HOME {
		left: 92%;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

}

/*2560x1440*/

@media screen and (min-width: 2350px) and (max-width: 2560px) {

    .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 10.5%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 175px; 
        height: 175px;
        position: fixed;
        left: 3%;
        top: 2.2%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 300px; 
        height: 85px;
        position: fixed;
        left: 10.5%;
        top: 2.0%;
        z-index: 2;
    }

	.HOME {
		left: 92.5%;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

   }

@media screen and (min-width: 2561px) and (max-width: 3000px) {

     .Headerbar {
        display: flex;
        width: 100%;
        position: fixed;
        height: 10%;
        background-color: #31233c;
        z-index: 2;
    }

    .Arctic_Lime_Logo {
        display: block;
        width: 175px; 
        height: 175px;
        position: fixed;
        left: 3%;
        top: 2.2%;
        z-index: 2;
    }

    .Arctic_Lime_Payoff {
        display: block;
        width: 300px; 
        height: 85px;
        position: fixed;
        left:9.5%;
        top: 2.0%;
        z-index: 2;
    }
	.HOME {
		left: 93%;
	}

	.sorry {
		display: none;
	}

	.sorry2 {
		display: none;
	}

    }


/*BETWEEN 3001 AND 3550PX*/

@media screen and (min-width: 3001px) and (max-width: 3550px) {

    .Headerbar {
       display: flex;
       width: 100%;
       position: fixed;
       height: 10%;
       background-color: #31233c;
       z-index: 2;
   }

   .Arctic_Lime_Logo {
       display: block;
       width: 175px; 
       height: 175px;
       position: fixed;
       left: 3%;
       top: 2.2%;
       z-index: 2;
   }

   .Arctic_Lime_Payoff {
       display: block;
       width: 300px; 
       height: 85px;
       position: fixed;
       left:8.5%;
       top: 2.0%;
       z-index: 2;
   }

   .HOME {
	left: 94%;
}

.BLOG {
	margin-top: 5%;
}

.sorry {
	display: none;
}

.sorry2 {
	display: none;
}


  }

/*BETWEEN 3551 AND 4096PX*/

@media screen and (min-width: 3551px) and (max-width: 4096px) {

    .Headerbar {
       display: flex;
       width: 100%;
       position: fixed;
       height: 8.5%;
       background-color: #31233c;
       z-index: 2;
   }

   .Arctic_Lime_Logo {
       display: block;
       width: 175px; 
       height: 175px;
       position: fixed;
       left: 2%;
       top: 2.2%;
       z-index: 2;
   }

   .Arctic_Lime_Payoff {
       display: block;
       width: 300px; 
       height: 85px;
       position: fixed;
       left:6.8%;
       top: 2.1%;
       z-index: 2;
   }

   .HOME {
	left: 95%;
}

.BLOG {
	margin-top: 3%;
}


.sorry {
	display: none;
}

.sorry2 {
	display: none;
}

   }

/*Between 4096 and 5000px*/

@media screen and (min-width: 4097px) and (max-width: 5000px) {

    .Headerbar {
       display: flex;
       width: 100%;
       position: fixed;
       height: 8.5%;
       background-color: #31233c;
       z-index: 2;
   }

   .Arctic_Lime_Logo {
       display: block;
       width: 175px; 
       height: 175px;
       position: fixed;
       left: 2%;
       top: 2.2%;
       z-index: 2;
   }

   .Arctic_Lime_Payoff {
       display: block;
       width: 300px; 
       height: 85px;
       position: fixed;
       left:6.8%;
       top: 2.1%;
       z-index: 2;
   }

   .HOME {
	left: 95.5%;
}

.BLOG {
	margin-top: 3%;
}

.sorry {
	display: none;
}

.sorry2 {
	display: none;
}

  }

/*computers between 5120 and 6017px - such as iMacs, high res windows monitors or mac pro's*/

@media screen and (min-width: 5001px) and (max-width: 6017px) {

    .Headerbar {
       display: flex;
       width: 100%;
       position: fixed;
       height: 9%;
       background-color: #31233c;
       z-index: 2;
   }

   .Arctic_Lime_Logo {
       display: block;
       width: 250px; 
       height: 250x;
       position: fixed;
       left: 2%;
       top: 2.2%;
       z-index: 2;
   }

   .Arctic_Lime_Payoff {
       display: block;
       width: 450px; 
       height: 85px;
       position: fixed;
       left:7%;
       top: 2.1%;
       z-index: 2;
   }

   .HOME {
	left: 95.5%;
}

.sorry {
	display: none;
}

.sorry2 {
	display: none;
}

.BLOG {
	margin-top: 4.5%;
}
}



/*LANDSCAPE RESOLUTIONS
RESOLUTIONS HIGHER THAN 6017PX (APPLE PRO XDR SCREEN) AND 5K PROJECTORS*/
@media screen and (min-width: 6017px) and (min-width: 3385px) and (orientation:landscape) {

    .Headerbar {
        display: none;
    }
    
    .Arctic_Lime_Logo {
        display:none;
    }
    
    .Arctic_Lime_Payoff {
        display:none;
    }
       
    .sorry2 {
        position: fixed;
        display:flex;
        left: 50%;
        top: 55%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        text-align:center;
    }
    
    p {
        color: white;
        font-family: ClearSansRegular;
        font-size: 14px;
    }

	.BLOG {
		display: none;
	}
   
	.MainBody{
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: black;
	}

	.HOME {
		display: none;
	}
      }

    /* END OF LANDSCAPE MEDIA QUERIES FOR DESKTOPS*/

    /*MEDIA QUERIES SMARTPHONES */

	/*STANDARD RESOLUTIONS*/

	@media screen and (min-width:1px) and (max-width:809px) and (orientation:portrait) {

		.Arctic_Lime_Logo {
			width: 75px;
			height: 75px;
			left: 5%;
		}

		.Arctic_Lime_Payoff {
			width: 150px;
			height: 150px;
			left: 25%;
		}

		.HOME {
			left: 73%;
			
	
		}

		h2 {
			font-size: 10px;
		}

		.BLOG {
			WIDTH: 100%;
			align-items:center;
			overflow: auto;
			
		}
	}

	@media screen and (min-width:810px) and (orientation:portrait) {

		.Arctic_Lime_Logo {
			width: 125px;
			height: 125px;
			left: 5%;
		}

		.Arctic_Lime_Payoff {
			width: 225px;
			height: 225px;
			left: 22%;
		}

		.HOME {
			left: 80%;
			
	
		}

		h2 {
			font-size: 14px;
		}

		.BLOG {
			WIDTH: 100%;
			align-items:center;
			overflow:scroll;
			
		}
	}

	@media screen and (min-width:900px) and (orientation:portrait) {

		.Arctic_Lime_Logo {
			width: 125px;
			height: 125px;
			left: 5%;
		}

		.Arctic_Lime_Payoff {
			width: 225px;
			height: 225px;
			left: 20%;
		}

		.HOME {
			left: 80%;
			
	
		}

		h2 {
			font-size: 14px;
		}

		.BLOG {
			WIDTH: 100%;
			align-items:center;
			overflow:scroll;
			
		}
	}

	@media screen and (min-width:1000px) and (orientation:portrait) {

		.Arctic_Lime_Logo {
			width: 125px;
			height: 125px;
			left: 5%;
		}

		.Arctic_Lime_Payoff {
			width: 225px;
			height: 225px;
			left: 19%;
		}

		.HOME {
			left: 80%;
			
	
		}

		h2 {
			font-size: 14px;
		}

		.BLOG {
			WIDTH: 100%;
			align-items:center;
			overflow:scroll;
			
		}
	}

    /*END OF CASCADE STYLING SHEETS*/
