@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.carrouselgrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    overflow-y: hidden;
    overflow-x: auto;
};

.gridcontent {
    display: flex;
    flex-flow: row;
    height: 66vh;
    gap: 2vw;
    margin-top: 2vw;
    margin-left: 40%;
    padding-right: 4.5vw;
};

.gridcontent:first-child {
        padding-left: 2.5vw;
}

.projectblock {
    width: 20vw;
    height: 64vh;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
};

.projectblock:hover {
    cursor: pointer;
}

.projtitle {
    font-family: $CS-BO;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    text-align: right;
    position: relative;
    bottom: -85%;
    padding-right: 0.6vw;
    font-size: 2vw;
    color: $SMOKEWHITE;
    text-shadow: 2px 2px 5px #000000;
};

.projdescr {
    font-family: $CS-LI;
    color: $SMOKEWHITE;
    font-size: 0.6vw;
    text-align: right;
    position: relative;
    bottom: -84%;

    padding-right: 0.9vw;
        text-shadow: 1px 1px 5px #000000;
}