@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.footerblock {
    width: 100vw;
    height: 3.2vw;
    display: flex; 
    position: fixed;
    bottom: 0%;
    left: 0%;
    flex-flow: row nowrap;
};

.arcinfo {
    width: 33.33vw;
    background-color: $DUSK;
    border-radius: 5px 5px 0px 0px;
    color: $SMOKEWHITE;
};

.newsticker {
    background-color: $DUSK;
    width: 33.33vw;
    height: 2vw;
    display: flex;
    color: $SMOKEWHITE;
    align-self: flex-end;
};

.privterms {
    background-color: $DUSK;
    width: 33.33vw;
    height: 2vw;
    display: flex;
    align-self: flex-end;
    color: $SMOKEWHITE;
}

.btncontainer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}

li {
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
}

h2 {
    font-family: $BG;
    font-size: 0.6vw;
}

h2:hover {
    cursor: pointer;
}

span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
};

.info {
    width: 100%;
    border: 2px solid red;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

h3 {
    font-family: $CS-TH;
    font-size: 0.6vw;
}




