@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.footerAlt {
    background-color: $DUSK;
    width: 7vw;
    padding: 0.8vw 0vw 1.5vw 0vw;
    position: fixed;
    bottom: 0vh;
    z-index: 2;
};

.footerAltTxt {
    color: $SMOKEWHITE;
    font-family: $BG;
    padding-left: 25%;
    font-size: 1.2vw;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
};

@media screen and (orientation: portrait) {
    .footerAlt {    
        width: 11vh;
        padding: 0.8vh 0vh 1.5vh 0vh;
    };
        
    .footerAltTxt {
        font-size: 2vh;
    };
}