@import '../base/typography.scss';
@import '../abstracts/variables.scss';

header {
    background-color: $DUSK;
    height: 7vw;
    width: 100vw;
    display:inline-flex;
}

svg {
    height: 10vw;
    margin-top: 0.7vw;
    margin-left: 1.7vw;
}

a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
}

ul {
    border: 2px solid green;
    text-decoration: none;
    list-style-type:none;
}