@import '../base/typography.scss';
@import '../abstracts/variables.scss';

* {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
};

.headeralt {
    background-color: $DUSK;
    height: 4.85vw;
    width: 100vw;
    position: fixed;
    z-index: 1;
};

.arclimelogo {
    height: 7vw;
    margin-top: 0.5vw;
    margin-left: 1.1vw;
    position: fixed;
};

.arclimelogo:hover {
    cursor: pointer;
}

.whatsappLogo, .whatsappLogo:hover {
    height: 2.2vw;
    margin-top: 1.25vw;
    position: fixed;
    width: 4%;
    right: 4%;
};

.whatsappLogo:hover {
    cursor: pointer;
}

.emailLogo {
    height: 2.2vw;
    margin-top: 1.2vw;
    position: fixed;
    width: 4%;
    right: 1%;
};

.emailLogo:hover {
    cursor: pointer;
}

a span {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
    top: -10px;
};


ul {
    text-decoration: none;
    list-style-type:none;
};

@media screen and (orientation: portrait) {
    .headeralt {
        background-color: $DUSK;
        height: 7vh;
        width: 100vw;
        position: fixed;
    };
    
    .arclimelogo {
        height: 10vh;
        margin-top: 0.7vh;
        margin-left: 1.7vh;
        position: fixed;
    };
    
    .whatsappLogo,
    .whatsappLogo:hover {
        height: 4vh;
        margin-top: 1.4vh;
        width: 4vh;
        right: 8.7vh;
        cursor: pointer;
        position: fixed;
    };
    
    .emailLogo,
    .emailLogo:hover {
        cursor: pointer;
        height: 4vh;
        margin-top: 1.4vh;
        position: fixed;
        width: 5vh;
        right: 2.6vh;
    };
    
    a span,
    a span:hover {
        height: 1px;
        width: 1px;
        position: absolute;
        overflow: hidden;
        top: -10px;
        cursor: pointer;
    };
    
    ul {
        text-decoration: none;
        list-style-type: none;
    };
};