@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
};

.container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
};

h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    font-family: $CS-TH;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 3.7vw;
    color: $SMOKEWHITE;
    z-index: 1;
    pointer-events:none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
};

video {
    pointer-events: none;
};

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 33vw;
    bottom: 5vw;
    padding-bottom: 0.8vw;
    z-index: 1;
    position: fixed;
    margin-top: 5vw;
    top: 50%;
    overflow: hidden;
    border: 2px solid red;
};

h6 {
    font-family: $BG;
    font-size: 1.4vw;
    color: $ARCTICLIME;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
};

@media screen and (orientation: portrait) {
   
    h1 {
        font-size: 3.2vh;
   };

   .menu {
        display: flex;
        justify-content: unset;
        align-items: unset;
        flex-direction: column;
        flex-wrap: wrap;
        width: 20%;
        height: 80%;
        bottom: 5vh;
        padding-bottom: unset;
        z-index: 1;
        position: fixed;
        margin-bottom: unset;
        top: unset;
        overflow: unset;
        border: 2px solid red;
   };

   h6 {
        font-size: 1.4vh;
   };
};

