@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.flowroot {
    display: flow-root;
};

.pricescontainer {
    background-color: $SMOKEWHITE;
    width: 100%;
    border-top: 2px solid $PIANO; 
    display: flex;
    flex-direction: row;
    margin-top: 4vw;
    justify-content: space-evenly;
};

.serviceOne, .serviceTwo, .priceOne, .priceTwo {
    border: 2px solid blue;
    width: 20%;
    padding-top: 1vw;
};

.priceOne, .priceTwo {
    text-align: right;
    padding-right: 1vw;
};

.serviceOne, .serviceTwo {
    padding-left: 1vw;
};

.tax {
    text-align: center;
    margin-top: 0.5vw;
    font-family: $CS-LI;
    font-size: 0.6vw;
    line-height: 0.8vw;
}

.row {
    width: 100%;
    margin-top: 12vw;
    font-family: $BG;
    color: $DUSK;
    font-size: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
};

.rateheader {
    text-transform: uppercase;
    background-color: $DUSK;
    color: $SMOKEWHITE;
}