@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.flowroot {
    display: flow-root;
};


.pricescontainer {
    background-color: $SMOKEWHITE;
    width: 100%;
    border-top: 2px solid $PIANO; 
    display: flex;
    flex-direction: row;
    margin-top: 4vw;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
};

.pricesflex {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 1vw;
};

.tax {
    text-align: center;
    margin-top: 0.5vw;
    font-family: $CS-LI;
    font-size: 0.8vw;
    line-height: 1vw;
}

.row {
    width: 100%;
    margin-top: 12vw;
    font-family: $BG;
    color: $DUSK;
    font-size: 1.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
};

.spanrow {
    width: 100%;
    display: inline-flex;
    height: 4vh;
};

.spanrow:nth-child(38), .spanrow:nth-child(39) {
    height: 5.5vh;
}

.spanrow:first-child {
    margin-bottom: 1vw;
}

.rateheader {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width:fit-content;
    background-color: $DUSK;
    color: $SMOKEWHITE;
    font-family: $BG;
    text-transform: UPPERCASE;
    padding: 0.4vw;
    font-size: 0.8vw;
};

.right {
    position: -webkit-sticky;
    position: sticky;
    left: 100%;
    z-index: 0 !important;
    text-align: right;
}

.servdescr {
    font-family: $CS-BO;
    font-size: 0.75vw;
    letter-spacing: 0.4px;
    padding-bottom: 0.3vw;
    padding-left: 1vw;
};

.servprice {
    font-family: $CS-RE;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: 0.4px;
    padding-bottom: 0.3vw;
    font-size: 0.75vw;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    padding-right: 1vw;
};

.servextra {
    font-family: $CS-TH;
    font-size: 0.6vw;
    padding-bottom: 0.6vw;
    width: 100%;
    word-break: word-break;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    padding-left: 1vw;
};

