@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.servicegrid {
    display: grid;
    width: 95vw;
    height: 100vh;
    margin-left: 2.5vw;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 5.5vw;
    margin-bottom: 4vw;
    padding: 20px;
    background-color: $SMOKEWHITE;
};

.servicecontent {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 0.7vw;
    padding-bottom: 0.5vw;

};

.context {
    font-family: $BG;
    text-transform: uppercase;
    font-size: 1.1vw;
    color: $SMOKEWHITE; 
};

.editing, .mograph, .audio, .animation, .subs {
    -o-object-fit: cover;
       object-fit: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    max-width: 800px;
    min-width: 300px;  
};

.audio, .animation, .subs {
    background-position-y:bottom !important;
}




@media screen and (min-width: 1px) and (max-width: 599px) and (orientation: portrait) {
    .servicegrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        padding: 0px;
        margin-top: 7.6vh;
        margin-bottom: 2vh;
        margin-left: 0;
        width: 100%;
        grid-row-gap:5px;
        grid-column-gap: 0px;
    };

    .servicecontent {
        border-radius: unset;
        justify-content: center;
        align-items: center;
    };

    .context {
        font-size: 1.1vh;
    };
};

@media screen and (min-width:600px) and (orientation: portrait) {
    .servicegrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin-top: 7vh;
        margin-bottom: 3.5vh;
        margin-left: 1.5vw;
    };

    .servicecontent {
        border-radius:5px;
        grid-row-gap: 20px;
        grid-column-gap: 20px;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 0.5vh;
        padding-bottom: 0.5vh;
    };

    .context {
        font-size: 1.1vh;
    };
};
