@import '../base/typography.scss';
@import '../abstracts/variables.scss';


::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: $ARCTICLIME;
};

::-webkit-scrollbar-track {
    background: $DUSK;
};

::-webkit-scrollbar-thumb {
    background: $ARCTICLIME;
};

::-webkit-scrollbar-thumb:hover {
    background: $COTTONCANDY;
};

.workarea {
    width: 100vw;
    height: 100vh;
};

.workdescr {
    background-color: $DUSK;
    width: 18%;
    position: fixed;
    top: 4.82vw;
    height: 95.2vh;
};

article {
    color: $SMOKEWHITE;
    width: 80%;
    max-height: 60%;
    overflow-y:auto;
    overflow-x:hidden;
    margin: 0 auto;
    text-align: justify;
    text-justify:inter-word;
    word-break: break-all;
    position: relative;
    left: -0.25vw;
    top: 4.5vw;
    line-height: 0.7vw;
    padding: 0.2vw;
    font-family: $CS-RE;
    font-size: 0.5vw;
    scrollbar-color: $ARCTICLIME $DUSK;
};

article:hover {
    scrollbar-color: $COTTONCANDY $DUSK;
};

.clientinfo {
    width: 20%;
    font-size: 1.7vw;
    line-height: 1.7vw;
    position: absolute;
    bottom: 7vw;
    left: 13vw;
    border: 2px solid orange;
    margin: 0 auto;
    text-align: justify;
    text-justify: distribute-all-lines;
};

.clientname {
    font-family: $BG;
    color: $ARCTICLIME;
}; 
