@import '../base/typography.scss';

// Fonts
$BG: BasementGrotesque;
$CS-TH: ClearSans-Thin;
$CS-LI: ClearSans-Light;
$CS-RE: ClearSans-Regular;
$CS-ME: ClearSans-Medium;
$CS-BO: ClearSans-Bold;

// Colors
$ARCTICLIME: #D0FF14;
$SMOKEWHITE: #FAFAFA;
$DUSK: #31233C;
$COTTONCANDY: #BA1A50;
$SEABED: #32A0AE;
$MOSS: #32B156;
$SUGARLIME: #9DE637;
$FOREST: #006600;
$PIANO: #2B2B2B;
