@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.flex {
    width: 100vw;
    height: 100vh;
    background-color: $DUSK;
    display: flex;
    justify-content: center;
    align-items: center;
};

.error {
    border: 2px solid red;
}

.page {
    font-family: $CS-BO;
    font-size: 2.5vw;
    width: 100%;
    border: 2px solid yellow;
    position: fixed;
};

.direct {
    font-family: $CS-TH;
    font-size: 1vw;
    color: $SMOKEWHITE;
    margin-top: 5vw;
    position: fixed;
    width: 100%;
    text-align: center;
    border: 2px solid pink;
};

@media screen and (orientation: portrait) {
    .error {
        font-size: 2.5vh;
    };

    .direct {
        font-size: 1.4vh;
        margin-top: 6vh;
    };
};