@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.flexcontainer {
    width: 100vw;
    height: 100vh;
    background-color: $DUSK;
    display: flex;
    justify-content: center;
    align-items: center;
};

.error {
    width: 100%;
    height: auto;
    
}

.page {
    font-family: $CS-BO;
    font-size: 3.5vw;
    text-align: center;
    color: $SMOKEWHITE;
};

.direct {
    font-family: $CS-TH;
    font-size: 1vw;
    color: $SMOKEWHITE;
    text-align: center;

};

@media screen and (orientation: portrait) {
    .page {
        font-size: 3.5vh;
    };

    .direct {
        font-size: 1.4vh;
    };
};