@import '../base/typography.scss';
@import '../abstracts/variables.scss';

.up-enter {
    opacity: 0;
}

.up-enter-active {
    opacity: 1;
    transition: opacity 700ms;
}

.up-exit {
    opacity: 1;
}

.up-exit-active {
    opacity: 0;
    transition: opacity 700ms;
}